/* h1{
    color: #f6f6f6 !important;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-text-stroke: 0.3px #f6f6f6;
}

h4{
    color: #f6f6f6 !important;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-text-stroke: 0.3px #f6f6f6;
}

a{
    text-decoration: none !important;
    color: #f6f6f6 !important;
}

.g-4 {
    background-color: red;
    padding: 1rem;
    display: flex;
    gap: 1.5rem;
} */